#Discord token you can find it at browser discord, you can watch guide here "https://youtu.be/LnBnm_tZlyU?si=oXGukpvbMy1PTphl"
DISCORD_TOKEN="YOUR_TOKEN_DISCORD"

# Create an app at https://developer.spotify.com/dashboard
# Set the Redirect URI in your Spotify app settings to: http://localhost:8888/callback
SPOTIFY_CLIENT_ID="YOUR_CLIENT"
SPOTIFY_CLIENT_SECRET="CLIENT_SECRET"

# You will get this by running `node setup-spotify.js` after filling in the Client ID and Secret above.
SPOTIFY_REFRESH_TOKEN="PUT_REFRESH_TOKEN_HERE_AFTER_YOU_RUNNING_setup-spotify.js"